 /* Validation styles */

 .ng-invalid.ng-touched {
    border-color: red;
   }

   .error-block {
     color: red;
   }

   .sign-header {
    color: #ffffff;
    font-weight: 200;
    font-family: "McLaren", cursive;
   }
