<div class="row container-fluid" style="margin-top: 100px;">

  <div class="col-6" style="margin: 100px auto;">

    <div class="card m-auto">
      <div class="card-header bg-warning sign-header">
        Sign Up
      </div>

      <div class="card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="signupSubmit()">
          <div class="row">
            <div class="col-6">

              <div class="form-group col-12">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>

              <div class="form-group col-12">
                <label class="form-label">Display Name</label>
                <input type="displayName" class="form-control" formControlName="displayName">
              </div>

            </div>

            <div class="col-6">
              <div class="form-group col-12">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">

                <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">

                  <span *ngIf="password.hasError('required')">
                    Password is required...
                  </span>

                  <span *ngIf="password.errors?.minlength">
                    Password should not be lesser than 6 character...
                  </span>

                </span>
              </div>

              <div class="form-group col-12">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword"
                  placeholder="Re-enter password">

                <span *ngIf="!confirmPassword.valid &&
                              (confirmPassword.touched || userSubmitted)" class="error-block">

                  <span *ngIf="confirmPassword.hasError('required')">
                    Confirm password is required...
                  </span>
                </span>

                <span *ngIf="signUpForm.hasError('notmatched') &&
                                  confirmPassword.valid" class="error-block">
                  Password not match...
                </span>
              </div>

            </div>
          </div>

          <div class="form-group col-12">

            <button type="submit" class="btn btn-warning" [disabled]="!signUpForm.valid">Sign Up</button>

            <button type="reset" class="btn btn-outline-warning ml-2">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
