<div class="chartFormWrapper">
  <div>
    <input type="text" class="chatInput form-control" [(ngModel)]="message" (keydown)="handleSubmit($event)" />
    <button class="chatButton btn btn-warning" (click)="send()">Send</button>
  </div>
</div>
