
<div class=" container-fluid row login-design">

  <div class="col-6" style="margin: 100px auto;">

      <div class="card m-auto">
          <div class="card-header bg-warning login-header">
              Log In
          </div>

          <div class="card-body">
              <form [formGroup]="logInForm" (ngSubmit)="loginSubmit()">
                  <div class="form-group col-12">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="email">
                  </div>

                  <div class="form-group col-12">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control" formControlName="password">

                      <span *ngIf="!password.valid && (password.touched || userSubmitted)"
                              class="error-block">

                          <span *ngIf="password.hasError('required')">
                            Password is Wrong...
                          </span>

                        </span>
                  </div>

                  <div class="form-group col-12">

                      <button type="submit" class="btn btn-warning"
                              [disabled]="!logInForm.valid">Log In</button>
                  </div>
              </form>
          </div>

      </div>
  </div>

</div>
