<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PingPong</a>

    <div class="collapse navbar-collapse d-flex flex-row-reverse mb-1.5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item p-1" *ngIf="authService.displaySignup">
          <a class="nav-link active" routerLink="signup">Sign Up</a>
        </li>

        <li class="nav-item p-1" *ngIf="authService.displayLogin">
          <a class="nav-link" routerLink="login">Log In</a>
        </li>

        <li class="nav-item p-1" *ngIf="authService.displayLogout">
          <a class="nav-link"routerLink="">Hello, {{authService.displayUserEmail}}</a>
        </li>

        <li class="nav-item p-1" *ngIf="authService.displayLogout">
          <a class="nav-link"routerLink="" (click)="logOut()">Log Out</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
