 <div class="messageContainer"  *ngFor="let msg of this.chat.readMessage"
   [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
   <!-- <div *ngIf="(msg.emailFrom== this.auth.displayUserEmail)&&
        (msg.emailTo==this.auth.displayUserName)" class="float-right"> -->
    <div class="messageData" [ngClass]="{'isOwnMessageData':isOwnMessage}">
      <span class="sender" [ngClass]="{'isOwnSender':isOwnMessage}">
        {{ msg.userName }}
      </span>
      <span class="timestamp" [ngClass]="{'isOwnTimestamp':isOwnMessage}">
        {{ this.chat.getTimeStamp(msg.timeSent)  }}
      </span>
    </div>
   <!-- </div> -->

   <div class="messageContent" [ngClass]="{'isOwnMessageContent':isOwnMessage}">
     <!-- {{ messageContent }} -->
     <!-- message name is stored in firebase -->
     {{msg.message}}
   </div>
 </div>
