<div class="feed">

  <div class="chat-header">
    <h1>{{this.chat.currentUser}}</h1>


  </div>

  <div class="message-box">

    <div class="message">
      <app-message-box id="chart-container"></app-message-box>
    </div>

  </div>
</div>
<!-- *ngFor="let message of feed" -->
<!-- [chatMessage]=message -->
