<div class="mainContent container-fluid">
  <div class="row">
    <div class="userListWrapper col-lg-3 bg-blue">
      <app-user-list></app-user-list>
    </div>
    <div #scroller class="feedWrapper col-lg-9" style="margin-top: 70px;">
      <app-feed></app-feed>

      <app-chat-form></app-chat-form>

    </div>
  </div>
</div>
