<!-- <div class="userItem"> -->
<!-- <span class="status" [ngClass]=(user.status)>
  </span> -->
<!-- <span class="userName"> -->
<!-- {{user.displayName}} -->
<!-- </span>
</div> -->
<!--
<div class="userItem">
  <ul> -->
<li class="userItem" (click)="userDataDisplay(usersBinding.displayName, usersBinding.email)">
  {{usersBinding.displayName}}</li>
<!-- </ul>
</div> -->
