

.userListWrapper {
    background-color: #f1f3f2;
    margin-top: 63px;
    height: calc(100vh - 64px);
    overflow: auto;
}

.userItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-header {
  padding: 20px;
  border-bottom: 1px solid #333333;
}
.chat-header h1 {
  margin: 0;
  font-size: 25px;
}
 .feedWrapper  {
   position: relative;
    height: calc(100vh - 70px);
   overflow: auto;
 }
 .chartFormWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.chartFormWrapper > div {
  margin: 0 5px 5px;
  border: 1px solid #ddd;
}

.chatInput {
  width: calc(100% - 70px);
  display: inline-block;
    margin-right: 5px;
    border: none;
}
.feed {
  margin-bottom: 70px;
}

.message-box {
  height: 100%;
  overflow: auto;
}

.userItem{
  color: #fff;
  display: flex;
  font-family: "McLaren", cursive;
  justify-content: center;
  font-size: 1.2rem;
  height: auto;
  padding: 2px;
  width: 90%;
  margin-top: 10px;
  border-radius: 1px;
  align-items:flex-start;
  background-color: #f5ba13;
  box-shadow: 0 3px 6px rgba(235, 221, 34, 0.356), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
  transition: ease-in 0.2s;
}

.userItem:hover{
  background-color: #f0c757;
  color: #ddd;
  transition: ease-in 0.1s;
}

